Weather App.xcodeproj/project.xcworkspace/xcuserdata
Weather App.xcodeproj/project.xcworkspace/xcshareddata
Pods
Weather App.xcworkspace/xcshareddata
Weather App.xcworkspace/xcuserdata/eugenezimin.xcuserdatad/xcdebugger
Weather App.xcworkspace/xcuserdata
Podfile.lock
Weather App.xcodeproj/xcuserdata
